
<h1>Pages#Landing</h1>

<div>
<table>
  <tr>
    <th>Name</th>
    <th>Age<th>
    <th>Email</th>
  </tr>

  <% @students.each do |student| %>
  <tr>
  <td><%= student.name %></td>
  <td><%= student.age %></td>
  <td><%= student.email %></td>
</tr>
<% end %>
</table>
</div>
